JsonFileToImportApplication.json
[{"id":"661476c8.94a5f8","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"},{"id":"9440161f.f76238","type":"debug","z":"e714cfe4.5062","name":"","active":true,"console":"false","complete":"payload","x":739,"y":654.3333358764648,"wires":[]},{"id":"683278cf.3ea198","type":"template","z":"e714cfe4.5062","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<style>\n.body_style{\nwidth:98%;\n\n}\n.para_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\ntext-align:center;\nfont-size:28px;\nfont-style:bold;\nmargin-top:200px;\nvertical-align:middle;\n}\n.para2_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\ntext-align:center;\nmargin-top:100px;\nvertical-align:middle;\n}\n.button_style{\nbackground-color:#3079ed;\nfont-size:28px;\nfont-style:bold;\ncolor:white;\n}\n.button2_style{\nbackground-color:#3079ed;\nfont-size:18px;\nfont-style:bold;\ncolor:white;\n}\n</style>\n</head>\n    <body class=\"body_style\">\n        <p class=\"para_style\">Are you ready to test your listening skills?<br><br>\n            <a href=\"/hearquestion\"><button class=\"button_style\">Listen to an audio</button></a>\n        </p>\t\t\n    </body>\n</html>\n","x":604,"y":153.33333587646484,"wires":[["895b500f.3cd44"]]},{"id":"606e83d5.1acc7c","type":"http in","z":"e714cfe4.5062","name":"","url":"/quiz","method":"get","swaggerDoc":"","x":371,"y":136.33333587646484,"wires":[["683278cf.3ea198"]]},{"id":"4d21e197.59ffb","type":"http in","z":"e714cfe4.5062","name":"","url":"/startquiz","method":"get","swaggerDoc":"","x":181,"y":645.3333358764648,"wires":[["666c3078.46ff7"]]},{"id":"c87f63dc.c73b","type":"template","z":"e714cfe4.5062","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<style>\n.form_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\nmargin-top:50px;\n}\n.para_style{\nfont-size:28px;\n}\n.question_style{\nfont-size:22px;\n}\n.answer_style{\nfont-size:22px;\n}\n.button_style{\nmargin-left:10%;\nmargin-right:10%;\nmargin-top:50px;\nbackground-color:#3079ed;\nfont-size:18px;\nfont-style:bold;\ncolor:white;\n}\n</style>\n\n<script type=\"text/javascript\">\n    function submitquiz(){\n        var x = document.getElementsByTagName(\"INPUT\");\n        var y = [];\n        var cnt2 = 0;\n        var newurl =\"/submittedquiz?\";\n        for (var cnt = 0; cnt < x.length; cnt++) {\n            if (x[cnt].type == \"text\") {\n                y.push(x[cnt]);\n                newurl+=x[cnt].name+\"=\"+x[cnt].value+\"&\";\n            }\n        }\n        window.location = newurl;\n    };\n</script>\n</head>\n\n<body>\n<form class=\"form_style\">\n  <p class=\"para_style\">Answer the below questions with true/flase<br><br>\n  {{#payload}}<br><br>\n  <span class=\"question_style\"><b><i>Question:&nbsp;</i></b></span>\n  <span class=\"question_style\">{{QUESTIONQ}}</span><br><br>\n  <input class=\"answer_style\" type=\"text\" name=\"{{QUESTIONID}}\"></input><br><br>\n  {{/payload}}\n  </p>\n</form>\n<input class=\"button_style\" type=\"button\" value=\"Submit Quiz\" name=\"submitquiz\" id=\"submitquiz\" onclick=\"submitquiz();\" />\n</body>\n</html>\n","x":718.9999694824219,"y":761.333366394043,"wires":[["c37710b6.6d246"]]},{"id":"c37710b6.6d246","type":"http response","z":"e714cfe4.5062","name":"","x":889,"y":729.3333358764648,"wires":[]},{"id":"895b500f.3cd44","type":"http response","z":"e714cfe4.5062","name":"","x":844,"y":226.33333587646484,"wires":[]},{"id":"666c3078.46ff7","type":"function","z":"e714cfe4.5062","name":"","func":"msg.payload=\"SELECT * FROM USER17617.QUESTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":660.3333358764648,"wires":[["6adff650.ee5518"]]},{"id":"e8bae74b.95bc78","type":"http in","z":"e714cfe4.5062","name":"","url":"/submittedquiz","method":"get","swaggerDoc":"","x":343,"y":866.3333358764648,"wires":[["fa76a7f6.3f79d8"]]},{"id":"1dd7018f.56373e","type":"function","z":"e714cfe4.5062","name":"","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"urlnode\":\n        context.data.urlnode = msg.payload;\n        //msg = null;\n        break;\n    case \"sqlnode\":\n        context.data.sqlnode = msg.payload;\n        //msg = null;\n        break;\n    default:\n        //msg = null;\n    \tbreak;\n}\n\nif(context.data.urlnode != null && context.data.sqlnode != null) {\n\t\n\tvar count = [];\n\tvar total = 0;\n\tfor(i=0;i<context.data.sqlnode.length;i++)\n\t{\n\t    if(context.data.sqlnode[i].QUESTIONA.toUpperCase()==context.data.urlnode[context.data.sqlnode[i].QUESTIONID].toUpperCase())\n        {\n\t        count.push(1);\n\t        total=total+1;\n\t    }\n        else\n\t        count.push(0);    \n\t}\n\tvar percent=(total/count.length)*100;\n\t//msg = new Object();\n    //msg = context.data;\n    //msg.count = count;\n    //msg.payload=percent;\n    //context.data=null;\n    msg.payload=percent;\n\treturn msg;\n}","outputs":1,"noerr":0,"x":727,"y":886.3333358764648,"wires":[["9aed3b9e.64d348","d45b8038.55b36"]]},{"id":"d45b8038.55b36","type":"debug","z":"e714cfe4.5062","name":"","active":false,"console":"false","complete":"payload","x":921,"y":985.3333358764648,"wires":[]},{"id":"fa76a7f6.3f79d8","type":"function","z":"e714cfe4.5062","name":"","func":"msg.topic=\"urlnode\";\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":918.3333358764648,"wires":[["1dd7018f.56373e"]]},{"id":"1f1ddaa0.7a95f5","type":"function","z":"e714cfe4.5062","name":"","func":"msg.topic=\"sqlnode\";\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":823.3333358764648,"wires":[["1dd7018f.56373e"]]},{"id":"ea13984a.a60f58","type":"http response","z":"e714cfe4.5062","name":"","x":1067,"y":873.3333358764648,"wires":[]},{"id":"9aed3b9e.64d348","type":"template","z":"e714cfe4.5062","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<style>\n.body_style{\nwidth:98%;\n\n}\n.para_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\ntext-align:center;\nfont-size:28px;\nfont-style:bold;\nmargin-top:200px;\nvertical-align:middle;\n}\n\n</style>\n</head>\n    <body class=\"body_style\">\n \n        <p class=\"para_style\">You scored {{ payload }} Percent.<br><br>\n        </p>\n  \n    </body>\n</html>","x":900,"y":794.3333358764648,"wires":[["ea13984a.a60f58"]]},{"id":"c8462c00.3d8e9","type":"watson-text-to-speech","z":"e714cfe4.5062","name":"","lang":"english","voice":"en-US_MichaelVoice","format":"audio/wav","x":587.9999694824219,"y":331.33333587646484,"wires":[["444ccb5.983f334"]]},{"id":"dda832a5.8a71f","type":"http in","z":"e714cfe4.5062","name":"","url":"/hearquestion","method":"get","swaggerDoc":"","x":95,"y":313.33333587646484,"wires":[["11e5495c.957c87","c0b2011d.80c09"]]},{"id":"11e5495c.957c87","type":"function","z":"e714cfe4.5062","name":"","func":"msg.payload=\"SELECT \\\"SCENARIO\\\" FROM \\\"USER17617\\\".\\\"SCENARIOTBL\\\" WHERE \\\"SCENARIOID\\\"=1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":200.33333587646484,"wires":[["7accc260.0addac"]]},{"id":"444ccb5.983f334","type":"function","z":"e714cfe4.5062","name":"","func":"msg.payload=msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":734.9999694824219,"y":370.33333587646484,"wires":[["b20eebf6.61b548"]]},{"id":"23447dcd.e42a12","type":"http response","z":"e714cfe4.5062","name":"","x":687.5454406738281,"y":445.60604095458984,"wires":[]},{"id":"c0b2011d.80c09","type":"template","z":"e714cfe4.5062","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<html>\n<head>\n    \n<style>\n.body_style{\nwidth:98%;\n\n}\n.para_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\ntext-align:center;\nfont-size:28px;\nfont-style:bold;\nmargin-top:150px;\nvertical-align:middle;\n}\n.para2_style{\nwidth:80%;\nmargin-left:10%;\nmargin-right:10%;\ntext-align:center;\nmargin-top:100px;\nvertical-align:middle;\n}\n.button_style{\nbackground-color:#3079ed;\nfont-size:28px;\nfont-style:bold;\ncolor:white;\n}\n.button2_style{\nbackground-color:#3079ed;\nfont-size:18px;\nfont-style:bold;\ncolor:white;\n}\n</style>\n\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/ws/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          //$('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          //console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          //console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          //$('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        //console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n\n    <title>Check your listening skills</title>  \n\n</head>\n    <body class=\"body_style\">\n        <div id=\"text\" class=\"para_style\">Connecting...</div>\n        <p class=\"para_style\"><br><br>\n\t\t\t<br/><br/>\n\t\t\t\n\t\t\t<audio id=\"output\"></audio>\n\t\t<a href=\"/startquiz\"><button class=\"button2_style\">Take the Quiz >></button></a>\n        </p>\n\t\t<br/><br/>\n\t\t<p class=\"para2_style\">When ready click on <b>Take the Quiz</b> button to answer the questions to test your listening skills.\n\t\t<br><br>\n        </p>\n\t\t\n    </body>\n</html>","x":436.9999694824219,"y":428.3333728843245,"wires":[["23447dcd.e42a12"]]},{"id":"b20eebf6.61b548","type":"websocket out","z":"e714cfe4.5062","name":"","server":"661476c8.94a5f8","client":"","x":919.272705078125,"y":342.6969528198242,"wires":[]},{"id":"5aa7a18.fc58f6","type":"debug","z":"e714cfe4.5062","name":"","active":true,"console":"false","complete":"payload","x":634.6665954589844,"y":242.99999237060547,"wires":[]},{"id":"abb40f7c.1836b","type":"function","z":"e714cfe4.5062","name":"","func":"var obj = msg.payload.SCENARIO;\nmsg.payload=obj;\nreturn msg;","outputs":1,"noerr":0,"x":480.4999694824219,"y":235.33333587646484,"wires":[["5aa7a18.fc58f6","c8462c00.3d8e9"]]},{"id":"7accc260.0addac","type":"sqldb in","z":"e714cfe4.5062","service":"SQL Database-yu","query":"","params":"","name":"","x":350,"y":273.33333587646484,"wires":[["abb40f7c.1836b"]]},{"id":"6adff650.ee5518","type":"sqldb in","z":"e714cfe4.5062","service":"SQL Database-yu","query":"","params":"","name":"","x":554,"y":664.3333358764648,"wires":[["9440161f.f76238","c87f63dc.c73b","1f1ddaa0.7a95f5"]]}]